* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}
body {
  font-family: "Segoe UI", sans-serif;
  color: black;
  background: white;
  line-height: 1.5;
}

.header {
  background: url(https://learn.logikaschool.com/uploads/student/4811378/6818d0713bb8d.png);
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pupu:hover {
  box-shadow: 3px 5px 10px 0 rgb(31, 76, 108);
  transition: 1s linear;
}

.dddd:hover {
  box-shadow: 3px 5px 10px 0 rgb(97, 149, 186);
  transition: 1s linear;
}

.pppp:hover {
  box-shadow: 3px 5px 10px 0 rgb(97, 149, 186);
  transition: 1s linear;
}

.rrrr:hover {
  box-shadow: 3px 5px 10px 0 rgb(97, 149, 186);
  transition: 1s linear;
}

.ffff:hover {
  box-shadow: 3px 5px 10px 0 rgb(97, 149, 186);
  transition: 1s linear;
}

.about {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
  flex-wrap: wrap;
}

.about-text {
  max-width: 800px;
  font-size: 20px;
}

.about-img {
  text-align: center;
}

.about-img img {
  width: 150px;
}

.about-img h3 {
  margin-top: 10px;
}

.catalog {
  text-align: center;
  padding: 60px 20px;
  max-width: 800px;
  margin: 0 auto;
}

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
  padding-top: 20px;
}

.product {
  width: 300px;
  text-align: center;
}

.product img {
  width: 100%;
  border-radius: 10px;
  height: 250px;
}

.product p {
  margin-top: 10px;
  font-size: 16px;
}

.reviews {
  text-align: center;
  padding: 40px 20px;
}

.review {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin: 20px 0;
}

.review img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.location {
  text-align: center;
  padding: 40px 20px;
}

.footer {
  background: #ccc;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  flex-wrap: wrap;
}

.socials .icons {
  display: flex;
  gap: 10px;
}

.icon {
  width: 30px;
  height: 30px;
  background: #fff;
  border: 1px solid #888;
}
