body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  background-color: rgb(233, 218, 129);
}
html {
  scroll-behavior: smooth;
}
header {
  background: url("https://learn.logikaschool.com/uploads/student/4814665/6815cd5506b88.png")
    no-repeat center center;
  background-size: cover;
  color: gold;
  text-align: center;
  padding: 60px 20px;
}

nav {
  display: flex;
  justify-content: center;
  background-color: gold;
}

nav a {
  padding: 10px 20px;
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-weight: bold;
  transition: transform 0.3s ease;
}

nav a:hover {
  text-decoration: underline;
  transform: scaleX(1);
}

.cta-section {
  text-align: center;
  padding: 30px 20px;
  font-size: 25px;
}

.cta-section button {
  font-size: 15px;
  padding: 10px 20px;
  background-color: gold;
  border: none;
  cursor: pointer;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  transition: box-shadow 0.3s ease;
}

.products-section {
  padding: 40px 20px;
  text-align: center;
}

.products-container {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}

.product a {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: gold;
  border: none;
  text-decoration: none;
  color: black;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0); /* без тени по умолчанию */
  transition: box-shadow 0.3s ease; /* плавный переход */
  cursor: pointer;
}

.product a:hover {
  box-shadow: 3px 5px 10px 0 rgb(255, 0, 234);
  transition: 2s linear;
}

.rewi {
  padding: 150px 20px 30px 20px;
  font-size: 20px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.person {
  padding: 20px 0;
  display: flex;
  justify-content: center;
}

.person p {
  padding-top: 50px;
  padding-left: 50px;
}

.product {
  height: 200px;
  background-color: rgb(228, 182, 33);
  padding: 20px;
  border-radius: 10px;
  width: 200px;
  transition: width 0.9s ease;
}

.product:hover {
  width: 250px;
  height: 250px;
  transition: 1s ease;
}

.about-us {
  padding-top: 20px;
}

.product img {
  width: 100%;
  height: 100%;
  border-radius: 8px;
}

.product .price {
  font-size: 18px;
  font-weight: bold;
  margin: 10px 0;
}

.img {
  padding-right: 50px;
}

.inst {
  padding-left: 51px;
}

.p {
  padding-left: 50px;
  padding-right: 50px;
}

.product button {
  margin-top: 10px;
  padding: 8px 12px;
  background-color: #941d1d;
  border: none;
  cursor: pointer;
}

footer p {
  padding-left: 51px;
}

.cta-section a {
  text-decoration: none;
  color: rgb(175, 204, 12);
  background-color: rgb(123, 79, 12);
  border-radius: 20px;
}

button:hover {
  box-shadow: 3px 5px 10px 0 rgb(255, 0, 234);
  transition: 2s linear;
}
